@import "../../styles/variables.css";
@import "../../styles/typography.css";

.pearl-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.pearl-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.pearl-switch-label {
  margin-left: 5px;
}

.pearl-switch-slider {
  background-color: var(--bg-gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.pearl-switch-label,
.pearl-switch-slider {
  cursor: pointer;
}

.pearl-switch-slider:before {
  position: absolute;
  content: "";
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .pearl-switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*Size*/

.pearl-switch-small .pearl-switch-slider {
  width: 50px;
  height: 25px;
}

.pearl-switch-small .pearl-switch-slider:before {
  height: 18px;
  width: 18px;
  left: 11px;
  bottom: 3.5px;
}

.pearl-switch-small input:checked + .pearl-switch-slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.pearl-switch-medium .pearl-switch-slider {
  width: 60px;
  height: 30px;
}

.pearl-switch-medium .pearl-switch-slider:before {
  height: 22px;
  width: 22px;
  left: 13px;
  bottom: 4px;
}

.pearl-switch-medium input:checked + .pearl-switch-slider:before {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
}

.pearl-switch-large .pearl-switch-slider {
  width: 70px;
  height: 35px;
}

.pearl-switch-large .pearl-switch-slider:before {
  height: 27px;
  width: 27px;
  left: 13px;
  bottom: 4px;
}

.pearl-switch-large input:checked + .pearl-switch-slider:before {
  -webkit-transform: translateX(31px);
  -ms-transform: translateX(31px);
  transform: translateX(31px);
}

/*Color*/

.pearl-switch-primary input:checked + .pearl-switch-slider {
  background-color: var(--bg-primary);
}

.pearl-switch-secondary input:checked + .pearl-switch-slider {
  background-color: var(--bg-secondary);
}

.pearl-switch-dark input:checked + .pearl-switch-slider {
  background-color: var(--bg-dark);
}

/*Disabled*/

.pearl-switch-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
